@use "../styles/typography";
@use "../styles/variables";
@use "../styles/mixins";
@use "../styles/media" as *;

.ActionButton {
  position: fixed;
  @include mixins.layer_2;
  right: 1rem;
  bottom: 1rem;

  @include tablet {
    right: 2rem;
    bottom: 1.5rem;
  }
  @include desktop {
    right: 3rem;
    bottom: 2rem;
  }

  display: flex;
  align-items: center;
  padding: 0.25rem 0.45rem;
  padding-right: 0.75rem;
  cursor: inherit;
  
  @include typography.font-rounded;
  color: variables.$color_brown;
  background-color:  variables.$color_white;
  font-size: 1rem;
  border-radius: 1rem;

  @include tablet {
    font-size: 1.25rem;
    border-radius: 1.25rem;
  }
  @include desktop {
    font-size: 1.5rem;
    border-radius: 1.5rem;
  }

  @include mixins.hover_shadow;
  @include mixins.hover_scale;

  &:focus {
    outline: 2px solid variables.$color_brown;
  }
}

.ActionButtonSymbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25em;
  height: 1.25em;
  padding-left: 1px;
  margin-right: 0.25rem;

  font-family: inherit;
  font-size: inherit;
  text-align: center;
  border-radius: 50%;
  color: variables.$color_white;
  background-color: variables.$color_brown;
}