@use "../styles/variables";
@use "../styles/media" as *;

.container {
  position: absolute;
  width: calc(100% - (0.78rem * 2));
  top: -0.25rem;
  z-index: 100;
  opacity: 0;
  transition: all 0.1s;
}

.containerVisible {
  top: -0.75rem;
  opacity: 1;
}

.nameContainer {
  display: flex;
  justify-content: center;
}

.name {
  background-color: rgba(variables.$color_blue_accent, 0.9);
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  color: variables.$color_white;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;

  @include tablet {
    font-size: 1.4rem;
  }

  @include desktop {
    font-size: 1.7rem;
  }
}