@use "../styles/mixins";
@use "../styles/typography";
@use "../styles/variables";
@use "../styles/media" as *;

@mixin calculateWidth($parentPadding: 0) {
  width: calc(100% - ($parentPadding * 2));
}

.container {
  @include mixins.layer_1(1);
  @include calculateWidth(variables.$song_art_padding_default);
  position: absolute;
  top: -0.25rem;
  opacity: 0;
  transition: all 0.2s;

  @include tablet {
    @include calculateWidth(variables.$song_art_padding_tablet);
  }

  @include desktop {
    @include calculateWidth(variables.$song_art_padding_desktop);
  }
}

.containerVisible {
  top: -0.75rem;
  opacity: 1;
}

.nameContainer {
  display: flex;
  justify-content: center;
}

.nameText {
  background-color: rgba(variables.$color_blue_accent, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  color: variables.$color_white;

  @include typography.font-rounded;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;

  @include tablet {
    font-size: 1.4rem;
    padding: 0.6rem 1.4rem;
  }

  @include desktop {
    font-size: 1.7rem;
  }
}
