@use "../styles/variables";
@use "../styles/mixins";
@use "../styles/media" as *;

.listItem {
  display: block;
  padding: 0.5rem;
  width: 50%;
  position: relative;

  @include tablet {
    width: 33%;
    padding: 0.75rem;
  }

  @include desktop {
    padding: 1rem;
    width: 25%;
  }
}

.songImageContainer {
  position: relative;
  @include mixins.hover_shadow;
  @include mixins.hover_scale;
}

.songImage {
  @include mixins.hover_shadow;;
  border-radius: .3rem;

  @include tablet {
    border-radius: .5rem;
  }
}

.selected {
  box-shadow: 0 0 0 0.25rem rgba(variables.$color_yellow_light, 1);
  border-radius: .25rem;
  position: relative;
  opacity: 1;
  transition: box-shadow 0.2s;

  @include tablet {
    box-shadow: 0 0 0 0.5rem rgba(variables.$color_yellow_light, 1);
    border-radius: .5rem;
  }

  @include desktop {
    border-radius: .75rem;
  }
}

.hidden {
  box-shadow: 0 0 0 0.1rem rgba(variables.$color_yellow_light, 0);
}

.playingMarker {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 2.75rem;
  height: 2rem;
  border: 3px solid variables.$color_yellow_light;
  box-shadow: none;
  border-radius: 0 0 75% 0;
  background-color: variables.$color_yellow_light;
  @include mixins.layer_1;

  @include tablet {
    width: 3.5rem;
    height: 2.5rem;
  }
}

.playIcon {
  margin-left: 15%;
  color: variables.$color_yellow_dark;
  font-size: 1.2em;

  @include tablet {
    font-size: 1.6em;
  }
}