$media_size_desktop: 1080px;
$media_size_tablet: 650px;

$color_blue_main: rgba(89, 209, 244, 255);
$color_blue_accent: rgba(3, 174, 181, 255);
$color_blue_dark: rgba(71, 87, 149, 255);

$color_blue_grey: rgba(148, 178, 198, 255);

$color_yellow_dark: rgba(252, 196, 9, 255);
$color_yellow_medium: rgba(249, 231, 12, 255);
$color_yellow_light: rgba(247, 253, 77, 255);

$color_brown: rgba(139, 119, 98, 255);

$color_white: rgba(244, 246, 224, 255);

$font_fallbacks: -apple-system, 'system-ui', BlinkMacSystemFont, 'Segoe UI',
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$song_art_padding_default: 0.5rem;
$song_art_padding_tablet: 0.75rem;
$song_art_padding_desktop: 0.75rem;
